 /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
    body{
     background-color: #fff;
    } 
    h4{
      color: #4e3c88;
    }
     #map {
        height: 300px;
        width: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
   .input:hover {
        border-color:red;
        cursor:pointer;
      }
    
    .btn{
         line-height: 2;
    }

#logo{
  margin-top: 30px;
}

.contForm{
    width: 50%;
}
/* Esconde o input */
input[type='file'] {
  
}
#txtAddress::placeholder {
  color: #fff;
}
#output_image
{
 max-width:300px;
}
#row9{
  margin-bottom: 63px;
}
@media only screen and (min-width : 601px) and (max-width : 1260px) {
.toast {
width: 100%;
border-radius: 0;} }

@media only screen and (min-width : 1261px) {
.toast {
width: 100%;
border-radius: 0; } }

@media only screen and (min-width : 601px) and (max-width : 1260px) {
#toast-container {
min-width: 100%;
bottom:90%;
top: 0%;
right: 0%;
left: 0%;} }

@media only screen and (min-width : 1261px) {
#toast-container {
min-width: 100%;
bottom: 90%;
top: 0%;
right: 0%;
left: 0%; } }

